:root {
    --purple: #0a1bff;
    --black: #131313;
    --white: #fff;
}

.body {
    height: 100%;
    width: 100%;
   
}

.container-box {
    display: flex;
    margin-top: 3%;
    background: var(--white);
    width: 90%;
    height: 100%;
    border-radius: 15px;
}

.container-image {
    width: 80%;
    justify-content: center;
}

.container-image img {
    height: 80%;
    width: 100%;
}

.container-form {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

mat-tab-group {
    width: 60%;
}

mat-tab-group form {
    margin-top: 5%;
    display: block;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}


.buttons button {
    text-align: center;
    font-size: 1vw;
    width: 6vw;
}

.button-save {
    background-color: var(--purple);
    color: #fff;
    margin-left: 5%;
    float: right;
}

.uploader-status {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploader-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #9006EE;
}